<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Hotels</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Hotel</li>
              <li class="breadcrumb-item active">Hotels List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Hotels List</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="tableData" class="table table-striped table-hover">
                      <thead>
                        <tr>
                            <th>S#</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Parking</th>
                            <th>Area</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <% for( let i = 0; i< hotels.length; i++) { %>
                          <tr>
                              <td><%= i + 1 %></td>
                              <td><%= hotels[i].hotelName %></td>
                              <td><%= hotels[i].contact %></td>
                              <td>
                                <% if(hotels[i].parking) { %>
                                  <span class="badge badge-primary"><i class="fa fa-check"></i></span>
                                  <% }else{ %>
                                    <span class="badge badge-danger"><i class="fa fa-times"></i></span>
                                    <% } %>
                              </td>
                              <td><%= hotels[i].area %></td>
                              <td> <% if(hotels[i].approvedStatus) { %>
                                <span class="badge badge-primary">Approved</span>
                                <% } else{ %>
                                <span class="badge badge-danger">Unapproved</span>
                                <% } %>
                              </td>
                              <td>
                                  <a href="<%= '/Hotels/viewHotel/' + hotels[i].id %>" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                                  <a href="<%= '/Hotels/editHotel/' + hotels[i].id %>" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></a>
                              </td>
                          </tr>
                        <% } %>

                      </tbody>
                      <tfoot>
                        <tr>
                            <th>S#</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Parking</th>
                            <th>Area</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>